---
import Layout from './Layout.astro';

const { term, type } = Astro.props;

import { getContentAlternateUrls, getPostCategory, getPostTags } from '@/lib/blog';
import type { Alternate } from '@/i18n/routes';
import GridList from '@/components/ui/GridList.astro';
import { getCollection } from 'astro:content';

const alternates : Alternate[] = await getContentAlternateUrls(type, term.data);

const posts = await Promise.all((await getCollection('blog', (post) => post.data.language == term.data.language))
    .map(async (post) => ({
        title: post.data.title,
        description: post.data.description,
        url: post.data.url,
        pubDate: post.data.pubDate,
        image: post.data.image,
        category: await getPostCategory(post),
        tags: await getPostTags(post),
    })));

---

<Layout title={term.data.title} description={term.data.description} lang={term.data.language} alternates={alternates}>
    <h1>{term.data.title}</h1>
    <p class="text-sm">
        {term.data.description}
    </p>
    <GridList posts={posts} />

</Layout>
