---
import { Image } from 'astro:assets';
import Bubble from './Bubble.astro';
import Card from './Card.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';


interface Props {
  title: string;
  description: string;
  url: string;
  date: string
  tags?: string[];
  class?: string;
  image: {
    src: string;
    alt: string;
    width: number;
    height: number;
  },
  [key: string]: unknown;
}

const { class: className, title, description, url, date, image, tags = [], ...rest } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Card url={url} tag="article" title={title} url={url} class:list={[className]} {...rest}>
    <Image slot="image" src={image.src} alt={image.alt} width={image.width} height={image.height} />
    <div slot="content" class="flex gap-3 py-2">
        <time datetime={date} class="text-sm">{date}</time>
        <ul class="flex gap-3 list-none p-0! m-0!" aria-label={t('post.tagsLabel')}>
            {
                tags.map((tag) => (
                    <li class="m-0 p-0"><Bubble class:list={['badge-accent', 'dark:badge-secondary']}>{tag}</Bubble></li>
                ))
            }
        </ul>
    </div>
    <p slot="content">{description}</p>
</Card>
