---
import { Image } from 'astro:assets';
import Bubble from './Bubble.astro';
import Share from './Share.astro';
import { getLangFromUrl, useTranslations, useFormatDate, useUrl } from '@/i18n/utils';
import { type PostInterface } from '@/types';
import PostCategory from './PostCategory.astro';
import Date from './Date.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const localizedUrl = useUrl(lang);

interface Props extends PostInterface {
}

const { class: className, category, title, description, url, publishedDate, image, tags = [], ...rest } = Astro.props;

const shareId = `share_${crypto.randomUUID()}`;
---

<article class:list={['prose', className]} {...rest}>
    <h1 class="m-0 text-center">{title}</h1>
    <Image src={image.src} alt={image.alt} width={image.width} height={image.height} class="mx-auto w-full aspect-[16/9] object-cover mb-2" />
    <div class="flex items-center gap-3 justify-center">
        <Date publishedDate={publishedDate} />
        <PostCategory category={category} />
    </div>
    <p>{description}</p>
    <slot name="content"></slot>
    <ul class="flex gap-3 list-none p-0! m-0!" aria-label={t('post.tagsLabel')}>
        {
            tags.map((tag) => (
                <li class="m-0 p-0">
                    <Bubble tag="a" href={localizedUrl(tag.path)} class:list={['badge-accent', 'dark:badge-secondary', 'no-underline']}>{tag.name}</Bubble>
                </li>
            ))
        }
    </ul>
    <div class="flex flex-col items-center">
        <h2 class="mt-0! mb-2 text-base font-normal">{t('post.shareTitle')}</h2>
        <Share class="align-middle" id={shareId} url={url} title={title} text={description} />
    </div>
</article>
