---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Icon } from 'astro-icon/components';
import { type Term } from '@/types';

interface Props {
  label: string;
  tags: Term[];
  class?: string;
  inputName?: string;
  [key: string]: unknown;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { label = t('taxonomy.tags'), tags, class: className, inputName="tags", ...rest } = Astro.props;

const selectedTagsId = inputName + '_selected';
const clearId = inputName + '_clear';
const datalist_id = inputName + '_list';

// @todo allow removing tags: 1) individually; 2) all.
// @todo don't show tag keys but labels.

---
<script is:inline define:vars={{ inputName, tags, selectedTagsId, clearId}}>
  {
    let selectedTags = [];
    const tagsDictionary = buildTagsDictionary(tags);

    const input = document.querySelector('input[name=' + inputName + ']');

    const clearButton = document.getElementById(clearId);

    input.addEventListener('keypress', onTagsEnter);

    input.addEventListener('input', (event) => processNewValue(event.target));

    clearButton.addEventListener('click', clearAllTags);

    function onTagRemoveClick(event) {
      if (event.target.dataset.tagRemove != null && selectedTags.includes(event.target.dataset.tagRemove)) {
        removeTag(event.target.dataset.tagRemove);
        refreshTags();
      }
    }

    function removeTag(tag) {
      selectedTags = selectedTags.filter((selectedTag) => selectedTag != tag);
    }

    function clearAllTags() {
      selectedTags = [];
      refreshTags();
    }

    function buildTagsDictionary(tags) {
      const tagsDictionary = [];
      for (let tagIndex in tags) {
        let currentTag = tags[tagIndex];
        tagsDictionary[currentTag.cid] = currentTag.name;
      }
      return tagsDictionary;
    }

    function onTagsEnter(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        processNewValue(event.target);
      }
    }

    function processNewValue(input) {
      const value = input.value;
      if (typeof(tagsDictionary[value]) == 'string' && !selectedTags.includes(value)) {
        selectedTags.push(value);
        refreshTags();
        input.value = '';
      }
    }

    function dispatchNewTagsEvent(input, newTags) {
      const customEvent = new CustomEvent('newTags', {
        detail: {
          tags: newTags,
        }
      })
      input.dispatchEvent(customEvent)
    }

    function refreshTags() {
      const selectedTagsElement = document.getElementById(selectedTagsId);
      selectedTagsElement.innerHTML = '';
      selectedTags.forEach((selectedTag) => addSelectedTagToHtmlContainer(selectedTag, selectedTagsElement));
      refreshClearButton(selectedTags);
      dispatchNewTagsEvent(input, selectedTags)
    }

    function refreshClearButton(selectedTags) {
      const hiddenClass = 'hidden';
      if (selectedTags.length > 0) {
        clearButton.classList.remove(hiddenClass);
      }
      else if(!clearButton.classList.contains(hiddenClass)) {
        clearButton.classList.add(hiddenClass);
      }
    }

    function addSelectedTagToHtmlContainer(selectedTag, selectedTagsElement) {

          const selectedTagElement = document.createElement('span');
          selectedTagElement.classList = 'badge badge-secondary text-xs cursor-default';
          selectedTagElement.textContent = tagsDictionary[selectedTag] + ' ';

          const removeTagElement = document.createElement('button');
          removeTagElement.classList = 'bg-transparent cursor-pointer';
          removeTagElement.setAttribute('data-tag-remove', selectedTag);
          removeTagElement.textContent = 'x';
          removeTagElement.addEventListener('click', onTagRemoveClick);

          selectedTagElement.appendChild(removeTagElement);
          selectedTagsElement.appendChild(selectedTagElement);
    }
  }
</script>

<label class:list={[className, "input"]}>
  <Icon name="mdi:tag" />
  <input type="text"  
    name={inputName}
    placeholder={label}
    aria-label={label}
    list={datalist_id}
    {...rest}
  />
  <datalist id={datalist_id}>
    {
      tags.map((tag) => (
        <option value={tag.cid} label={tag.name} />
      ))
    }
  </datalist>
</label>

<div class="mt-2 flex gap-3">
  <div class="flex gap-2" id={selectedTagsId}>
  </div>
  <button id={clearId} class="btn btn-xs btn-primary cursor-pointer text-xs hidden">{t('search.clear')}</button>
</div>
